
@media(min-width:782px)and (max-width:992px){
	.main-heading{
	padding-top:30px;
}
.main-heading h2{
	
	font-size:38px
}
}


@media(max-width:600px){
	.main-heading{
		padding: 10px 64px;
    margin-top: 30px;
	}
	.main-heading h2{
		font-size:20px;
	}
	.about{
		padding: 10px 173px;
		line-height:1.5;
	}
	.about p{
	font-size:12px;
	color:gray;
	
}

.live-clas-time {
    width: 299px;
	margin-left:154px;
	margin-top:25px;
	}
	
	.container-3{
		display:flex;
		flex-wrap:wrap;
	}
	.flex-item-2{
		width:51%;
	}
	.no-days{
		margin-left: 145px;
    width: 320px;
	}
	.thoughts p{
		padding: 10px 194px;
	}
	.flex-item-3 {
    width: 50.5%;
    padding-left: 15px;
    padding-right: 15px;
}
.flex-container-4{
	display: flex;
    margin-left: -15px;
    margin-right: -15px;
	flex-wrap:wrap;
}
.user-review{
	margin-left: 102px;
    /* padding-left: 30px; */
    width: 338px;
}
/* .enroll{
	margin-right:452px;
} */
.container-4 {
    width: 588px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.your-mentor{
	padding: 10px 112px
}
.footer{
	margin-right:-130px;
}
}
